.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.papa {
  height: 150px;
  margin-right: 20px;
}

.brainey {
  height: 170px;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  color: #2f8bca;
  font-size: 2.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form {
  background: #c7af54;
  color: black;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-left: 50px;
}

button {
  background: #c62a38;
  font-size: 1rem;
}

.submit-btn {
  width: 30%;
  margin-top: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


